html,body,.app{
    height:100vh;
    background: #eee;
    padding:1em;

}
.ui.stacked.segment:after, .ui.stacked.segment:after{
    height: 0 !important;
}
.slack-bgcolor{
    background: #3F0F3F !important;
}
.slack-color{
    color: #3F0F3F !important;
}
.white-color{
    color:#fff!important;
}